<footer id = "footer" class="text-white-50 pt-3 w-100">
   <div class="container">
      <div class="row">
         <div class=" col-md-3 mx-auto ">
            <h6 class="text-uppercase font-weight-bold">Base de datos</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p >Herramienta creada para el almacenamiento de proyectos socio-integradores de los PNF en Electricidad, Electronica
               e Instrumentacion y Control. Por estudiantes del PNF de Informatica
            </p>
         </div>
         <div class=" col-md-3 mx-auto ">
            <h6 class="text-uppercase font-weight-bold">Links</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <br>
            <a href="/inicio">Inicio</a>
            <br>
            <a href="/index">Buscar</a>
            <br>
            <a href="/archivar">Archivar</a>
            <br>
            <a href="#">Ayuda</a>
         </div>
         <div class="col-md-3 mx-auto ">
            <h6 class="text-uppercase font-weight-bold">Paginas U.P.T.A.G.</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <br>
            <a href="http://www.uptag.edu.ve/">Principal</a>
            <br>
            <a href="http://estudiantes.uptag.edu.ve">Estudiantes</a>
            <br>
            <a href="http://estudiantes.uptag.edu.ve">DACE UPTAG</a>
         </div>
         <div class="col-md-3 mx-auto">
            <h6 class="text-uppercase font-weight-bold">Creadores</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <br>
            <span>Leo Polanco</span>
            <br>
            <span>Luzmary Lopez</span>
            <br>
            <br>
            <br>
            <img src="/images/cclogo.png" width="120" height="30">
         </div>
      </div>
   </div>
   
   
</footer>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/vanilla-tilt.js"></script>


</body>

</html>