      <footer class="text-white-50 footer-dark pt-3 w-100" >
   <div class="container">
      <div class="row">
         <div class=" col-md-3 mx-auto ">
            <h6 class="text-uppercase font-weight-bold">Base de datos</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <p >Herramienta creada para el almacenamiento de proyectos socio-integradores de los PNF en Electricidad, Electronica
               e Instrumentacion y Control. Por estudiantes del PNF de Informatica
            </p>
         </div>
         <div class=" col-md-3 mx-auto ">
            <h6 class="text-uppercase font-weight-bold">Enlaces</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <br>
            <a href="/inicio">Inicio</a>
            <br>
            <a href="/index">Base de datos</a>
            <br>
            <a href="/archivar">Archivar</a>
            <br>
            <a href="/ayuda">Ayuda</a>
         </div>
         <div class="col-md-3 mx-auto ">
            <h6 class="text-uppercase font-weight-bold">Paginas U.P.T.A.G.</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <br>
            <a href="http://www.uptag.net/">Principal</a>
            <br>
            <a href="http://www.uptag.net/">Estudiantes</a>
            <br>
            <a href="http://www.uptag.net/">DACE UPTAG</a>
         </div>
         <div class="col-md-3 mx-auto">
            <h6 class="text-uppercase font-weight-bold">Creadores</h6>
            <hr class="style13 accent-2 mb-4 mt-0 d-inline-block mx-auto">
            <br>
            <span>Leo Polanco</span>
            <br>
            <span>Luzmary López</span>
            <br>
            <br>
            <br>
            <img src="/images/cclogo.png" width="120" height="30">
         </div>
      </div>
   </div>
   
   
</footer>

      <script src="/datatables/js/jquery-3.3.1.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/vanilla-tilt.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
   </body>
</html>         

