<html>
   <head>
      <title>Proyectos</title>
      <link rel="stylesheet"  type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/proy.css">
      <link rel="stylesheet" type="text/css" href="/datatables/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="/datatables/css/buttons.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   </head>
   
   <body>
      <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
               
               <a class="navbar-brand" href="/inicio"><img class="pl-1 " src="/images/iconuptag.jpg"></a>
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/inicio">Inicio</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/archivar">Archivar</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/index">Buscar</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/ayuda">Ayuda</a>
                  </li>
               </ul> 
               </div>




        <form action="/index" method="GET" class="nav navbar-nav navbar-right">
  <div class="busqueda  input-group bg-dark">
     
     
     
     
     <%var arrayauxiliar=[];%>
    <%proys.forEach(function(proy){ %>
    <%    arrayauxiliar.push(proy.eleccionbusqueda);%>
    <% }); %>
    <%let arrayfinal =[...new Set(arrayauxiliar)]%>
    <input list="listabusq" type="text" class="form-inline input-busqueda border-bottom bg-dark" placeholder="Buscar" name="search">
    <datalist id="listabusq" class="bg-dark">
         <option value="">
      <% arrayfinal.forEach(function(proy){ %>
         <option value="<%=proy%>">
         <% }) %>      
         </datalist>   

            <select class="form-inline select-busqueda bg-dark border-bottom">
               <option value="">General</option>
               <option value="pnf" onChange="asistbusqueda(this.value);">PNF</option>
               <option value="Estatus" onChange="asistbusqueda(this.value);">Estatus</option>
               <option value="comunidad" onChange="asistbusqueda(this.value);">Comunidad</option>
               <option value="municipio" onChange="asistbusqueda(this.value);">Municipio</option>
               <option value="profesor" onChange="asistbusqueda(this.value);">Profesor</option>
               <option value="estudiante" onChange="asistbusqueda(this.value);">Estudiante</option>
               <option value="lapso-academico" onChange="asistbusqueda(this.value);">Lapso Academico</option>
               <option value="trayecto" onChange="asistbusqueda(this.value);">Trayecto</option>
            </select>
    <i class=" fa fa-search"></i>
  </div>
</form>
        
        



               
               <ul class="nav navbar-nav navbar-right">
                  <div class="collapse navbar-collapse text-right">
             <% if(!currentUser){ %>
                   <li class="nav-item">
                     <a class="nav-link" href="/login">Ingresar</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/registro">Registrarse</a>
                  </li>
             <% } else { %>
                  <li class="nav-item pr-3">
                     <a class="nav-link" href="#"><%=currentUser.username%></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/logout">Salir</a>
                  </li>
               <% } %>   
                  
                  </div>
            </ul>
            
             
         </nav>
