<% include ./partials/header %>
   <div class="container-fluid mt-5 pt-5">
      <div class="jumbotron w-100" style="height:720px;">
         <div class="text-center">
            <div class="display-4 pb-5 mb-3">Archivos de ayuda</div>
            <div class="row">
               <div class="col-6"><a href="/MANUAL-DE-SISTEMA-DE-BASE-DE-DATOS-DE-PROYECTOS-SOCIOINTEGRADORES"> <span style="color:rgb(204, 90, 14);" class="h2 font-weight-light ">Manual de sistema</span></a></div>
               <div class="col-6"><a href="#"> <span style="color:rgb(204, 90, 14);" class="h2 font-weight-light ">Manual de usuario</span></a></div>
            </div>
            <div class="row pt-5 mt-5">
               <div class="col-6"><a href="/BASE-DE-DATOS-DE-PROYECTOS-SOCIOINTEGRADORES-RESPALDO"> <span style="color:rgb(204, 90, 14);" class="h2 font-weight-light ">Descargar respaldo de base de datos (.json)</span></a></div>
            </div>

      </div>
   </div>
</div>
<% include ./partials/footer %>