<% include ./partials/header %>
       <div style="background:white">
         <div class="container-fluid pb-5">
      <div class="row">
         
    <div class="col-md-6">
       
    <div class="container-fluid mt-4 p-5 float-center">
      <div class="container-fluid p-4 m-4">
      <span class="display-4">Base de datos para</span> <br> <span class="display-4">proyectos socio-integradores</span>
      <br> 
      <br>
      
      	 
      <div class="text-justify" style="font-size:xx-large;">
      <span class="lead font-weight-light">Base de datos que permite registrar mas de cinco mil proyectos culminados y no culminados, con toda información disponible, fácil de accesar y exportar. </span><br>
      </div>
      <% if(currentUser){%>
    	<a class="btn btn-dark  mt-3" href="#">Bienvenido <%=currentUser.username%></a>
      <% } %>
      
      <br/>
      </div>
      </div>
      </div>

<div class="col-md-6 pl-5 mt-4 pt-5 d-none d-sm-block d-sm-none d-md-block hidden-xs ">
	<div class="pl-4">
	<div class="position-relative w-100  h-100 ">
		
		<!-- LOGO ELECTRONICA --> 
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 344px; top: 128px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  ">
				<div style="" class="position-absolute w-100 h-100"><img src="/images/logopnfelectronica.png" width="125" height="125"></div>
			</div>
		</div>
		<!-- LOGO INSTRUMENTACION Y CONTROL --> 
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 472px; top: 0px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  ">
				<div style="" class="position-absolute w-100 h-100"><img src="/images/logopnfiyc.png" width="125" height="125"></div>
			</div>
		</div>
		<!-- LOGO ELECTRICIDAD --> 
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 472px; top: 128px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  ">
				<div style="" class="position-absolute w-100 h-100"><img src="/images/logopnfe.png" width="125" height="125"></div>
			</div>
		</div>
		<!-- LOGO UPTAG --> 
		<div class="position-absolute" style="width: 128px; height: 128px; left: -40px; top: 12px;">
            <div data-tilt data-tilt-reverse="true" class="w-100 h-100" >
               <div class="position-absolute"><img src="/images/logouptag.jpg" width="214" height="90"></div>
            </div>
         </div>
      <div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 216px; top: 128px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: linear-gradient(rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%); box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 5px 0px; ">
				<div style="opacity: 0.5;" class="position-absolute w-100 h-100"></div>
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 48px; height: 48px; left: 472px; top: 512px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: linear-gradient(45deg, rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%); "></div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 472px; top: 256px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgb(249, 129, 42); ">
				<div style="opacity: 0.5;" class="position-absolute w-100 h-100"></div>
			</div>
		</div>



		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 344px; top: 256px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: linear-gradient(rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%); box-shadow:rgba(0, 0, 0, 0.1) 0px 7px 5px 0px ">
				<div style="opacity: 0.5;" class="position-absolute w-100 h-100"></div>
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 344px; top: 0px; z-index: 1;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgb(255, 116, 23); box-shadow: rgba(0, 0, 0, 0.1) -6px 7px 9px 0px; ">
				<div style="opacity: 0.5;" class="position-absolute w-100 h-100"></div>
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 64px; height: 64px; left: 152px; top: 128px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7); ">
			</div>
		</div>
		
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 64px; height: 64px; left: 184px;top: 352px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1; background: rgba(230, 230, 230, 0.7); ">
				<div class="position-absolute" style="width: 32px; height: 32px; left: 0px; top: px; background: #fff;"></div>
				<div class="position-absolute" style="width: 32px; height: 32px; left: 32px; top: 32px; background: #fff;"></div></div>
			</div>
		
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 216px; top: 384px; z-index: 1;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgb(255, 116, 23); box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 5px 0px; "></div>
		</div>

		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 48px; height: 48px; left: 255px; top: 294px; z-index: 10;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background:  linear-gradient(90deg, rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%); box-shadow: rgba(0, 0, 0, 0.1) -6px 7px 9px 0px; "></div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 16px; top: 368px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7); ">
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 64px; height: 64px; left: 144px; top: 496px; z-index: 2;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7); ">
				<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 64px; height: 48px; left: 0px; top: 16px; background: #fff;"></div>
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 0px; top: 384px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: linear-gradient(135deg, rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%); box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 9px 0px; ">
				<div style="opacity: 0.5;" class="position-absolute w-100 h-100"></div>
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 88px; top: 256px;">
			<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250"  class="w-100 h-100" style="background: linear-gradient(225deg, rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%);">
               <div style="width: 32px; height: 32px; left: 96px; top: 96px; background: #FAFBFC;"></div>
            </div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 32px; height: 32px; left: 73px; top: 241px; z-index: 10;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgb(252, 102, 0);"></div>
		</div>
		<div class="position-absolute" style="width: 128px; height: 128px; left: -40px; top: 128px;">
            <div data-tilt data-tilt-reverse="true" data-tilt-perspective="250"  class="w-100 h-100" style="background: rgb(252, 102, 0);">
               <div class="position-absolute" style="width: 32px; height: 32px; left: 96px; top: 96px; background: #FFFFFF;"></div>
            </div>
         </div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 32px; height: 32px; left: 284px; top: 282px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7);"></div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 32px; height: 32px; left: 328px; top: 368px; z-index: 2;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.3); "></div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 16px; height: 16px; left: 472px; top: 240px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7); "></div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 32px; height: 32px; left: 12px; top: 280px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7); "></div>
		</div>
		<div data-tilt="" data-tilt-reverse="true" class="position-absolute" style="width: 128px;height: 128px;left: 320px;top: 0px;will-change: transform;transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.7); ">
			</div>
		</div>
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 472px; top: 384px;">
			<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250"  class="w-100 h-100" style="background: linear-gradient(225deg, rgb(249, 170, 82) 0%, rgb(252, 102, 0) 100%);">
            </div>
		</div>
		<div data-tilt="" data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 32px; height: 32px; left: 456px; top: 368px; z-index: 2; will-change: transform; transform: perspective(250px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgba(230, 230, 230, 0.3); "></div>
		</div>
		
		<!-- CUADRO ABAJO, ELIMINAR PARAMETRO DE COMENTARIO PARA QUE APAREZCA
		<div data-tilt data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 344px; top: 384px;">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  background: rgb(249, 129, 42); box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 5px 0px; ">
				<div style="opacity: 0.5;" class="position-absolute w-100 h-100"></div>
			</div>
		</div>
		-->
		
		<!-- LOGO INFORMATICA, ELIMINAR PARAMETRO DE COMENTARIO PARA QUE APAREZCA
		<div data-tilt="" data-tilt-reverse="true" data-tilt-perspective="250" class="position-absolute" style="width: 128px; height: 128px; left: 420px; top: 406px; will-change: transform; transform: perspective(250px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
			<div class="position-absolute w-100 h-100 " style="opacity: 1;  ">
				<div style="" class="position-absolute w-100 h-100"><img src="/images/logopnfi.jpg" width="180" height="80"></div>
			</div>
		</div>
		-->
		
		
	</div>
	</div>
	   
   </div>
   </div>
   </div>
	<!-- FIN DEL CONTAINER-->
   

   
   <!-- ESPACIADO-->
   <div class="text-center" id="seccion1"><img class="mirarabajo" src="/images/mirarabajo.png" width="140" height="52" onClick="document.getElementById('seccion1').scrollIntoView();"></div>

	<!--INICIO DE SECCION 1-->
   <div id="seccion1" class="container-fluid mt-5" style="background: #f3f3f3; border-top:#ffa400 solid 1px;">
   	
   	
   	

      <div class="mt-5 text-center" ><h3 class="text-center" style="letter-spacing:2px">VISTA DE PROYECTOS DINAMICA Y SIMPLE</h3></div>
      
      
      <div class="mt-4" style="display: flex;justify-content: center;align-items: center;align-content: center;">
      	<div class=" font-weight-light h5" style="letter-spacing:2px; max-width:800px">Cada dato ingresado, puede ser visualizado por toda persona, dando así la posibilidad de mostrar cada trabajo, cada proyecto socio-integrador
      	a miles de usuarios; profesores, estudiantes y demás.</div>
      	</div>
	<div class="container-fluid pt-5 pl-5">
		<div class="row" style="padding-top:36px">
			<div class="col-md-6"><img src="/images/fotoindex.png" width="565" height="330"></div>
			<div class="col-md-6 text-left">
				<div class="container-fluid pt-4 pl-5 m-5">
					<span style="color:rgb(204, 90, 14);" class="h2 pl-3  font-weight-light ">Listado extenso y simple</span>
					<ul class="pt-3 listaconpuntosnaranjas">
						<li>Se muestran datos generales del proyecto.</li>
						<br/>
						<li>El estatus del proyecto está a simple vista, por si luego se necesita modificar cuando este culminado.</li>
						<br/>
						<li>Un enlace para acceder a la vista individual de cada proyecto socio-integrador.</li>
					</ul>
					</div>
			</div>
		</div>
		<div class="row mt-5 pt-5 pb-5" >
			<div class="col-md-6">
				<div class=" pr-5 mt-5">
					<span style="color:rgb(204, 90, 14);" class="h2 pl-3  font-weight-light ">Vista individual para acceso universal</span>
					<ul class="pt-4 listaconpuntosnaranjas">
						<li>Se muestran datos especificos del proyecto y de sus integrantes.</li>
						<br/>
						<li>La vista individual y la general puede ser accesada tanto por visitantes como por usuarios registrados.</li>
						<br/>
						<li>Se permite al usuario con derechos; editar y eliminar el proyecto desde aquí.</li>
					</ul>
					</div>
			</div>
			<div class="col-md-6 pt-4"><img src="/images/fotoshow.jpg" width="565" height="330"></div>
		</div>
	</div>

   </div>
   <!--FIN DE SECCION 1-->
   
   <!--LINEA DIAGONAL-->
   <div style="width:max; height:1px; background:#f3f3f3;">
   	<div class="w-100 lineadiagonal" style="background:#f3f3f3; height:60px">
   		<div class="w-100" style="background:#f3f3f3; height:60px"></div>
   	</div>
   	<div class="w-100 lineadiagonal" style="border-top:#ffa400 solid 1px; height:1px"></div>
   </div>
   <div style="width:50%; height:60px; background:#f3f3f3;" class="float-right"></div>

 	<!--INICIO DE SECCION 2-->
   <div class="container-fluid" style="background: white;margin-top:185px;">
   	
   		
   	

      <span class="text-left pl-5 h5" style="letter-spacing:2px">SISTEMA DE EXPORTADO</span>
      <br/>

      <div class="mt-3 pl-5" style="display: flex;justify-content: left;align-items: left;align-content: left;">
      	<div class=" font-weight-light h5" style="letter-spacing:2px; max-width:600px">La base de datos permite exportar proyectos socio-integradores a archivos excel o pdf, de forma general o siguiendo parámetros indicados por el usuario.</div>
      	</div>
      	
      	
      	
      	<br/>

	<div class="container-fluid pt-5 pl-4 pb-5">
		<div style="padding-top:20px">
			<ul style="list-style-type: none;">
						<li>
							<div class="row">
								<div class="col-5"><span class="h4 font-weight-light" style="color:rgb(204, 90, 14); ">En búsqueda general, presione este botón para continuar a exportar.</span></div>
								<div class="col-5"><div class="text-center"><img  src="/images/fotobotonvistasimple.png" width="192" height="112"></div></div>
							</div>
						</li>
						<br/><br/>
						<li>
							<div class="row">
								<div class="col-5"><span class="h4 font-weight-light" style="color:rgb(204, 90, 14); ">Luego, presione el botón de su preferencia para exportar.</span></div>
								<div class="col-5"><div class="text-center"><img  src="/images/botonesexportar.png" width="192" height="112"></div></div>
							</div>
						</li>
					</ul>

					
					</div>
			</div>
		

		<div class="container-fluid">
		<div class="row mt-5 pt-4 pb-5 pl-4" >
			<div class="col-md-4">
				<div class=" text-center pr-5 mt-5">
					<span style="color:rgb(204, 90, 14);" class="h2 pl-5  font-weight-light ">Y listo.</span>
					<br/>
					<br/>
					<span style="color:rgb(204, 90, 14);" class="h2 pl-5  font-weight-light ">------></span>

					</div>
			</div>




		<div class="col-md-8">
			<ul style="list-style-type: none;">
						<li class="text-center"><img src="/images/indexsimple.png" width="565" height="240">
						</li>
						
						<li class="text-center"><img src="/images/flechanaranja.png" width="50" height="96">
						</li>
						
						<li class="text-center"><img src="/images/fotoexcel.png" width="565" height="240">
						</li>
					</ul>
			</div>
			</div>
		</div>
	
</div>
      <!--FIN DE SECCION 2-->	
   
   <!--LINEA DIAGONAL-->
   <div style="width:max; height:1px; background:white;">
   	<div class="w-100 lineadiagonal" style="background:white; height:60px">
   		<div class="w-100" style="background:white; height:60px"></div>
   	</div>
   	<div class="w-100 lineadiagonal" style="border-top:#ffa400 solid 1px; height:1px"></div>
   </div>
   <span  style="width:50%; height:70px; background:white;" class="float-right"></span>
   <span style="width:50%; height:70px; background:#fafbfc;" class="float-left"></span>

   

   <!--INICIO DE SECCION 3-->
   <div class="container-fluid" style="background: #fafbfc; border-top: #fafbfc solid 1px; ">
   	

      <div class="mt-5 text-center"><h3 class="text-center" style="letter-spacing:2px;  margin-top:185px">REGISTRO EXTENSO, COMPLETO Y COMODO</h3></div>
      
      
      <div class="mt-4" style="display: flex;justify-content: center;align-items: center;align-content: center;">
      	<div class=" font-weight-light h5" style="letter-spacing:2px; max-width:800px">Esta base de datos está diseñada para facilitar el ingreso de cada proyecto socio-integrador, tambien dando la posibilidad
      	de editarlos y eliminarlos con facilidad.</div>
      	</div>

	   
	<div class="container-fluid pt-5 pl-5">
		<div class="row" style="padding-top:36px">
			<div class="col-md-6"><img src="/images/fotoarchivar.png" width="565" height="330"></div>
			<div class="col-md-6 text-left">
				<div class="container-fluid  pl-5 m-5">
					<span style="color:rgb(204, 90, 14);" class="h2 pl-3  font-weight-light ">Formulario de última generación</span>
					<ul class="pt-3 listaconpuntosnaranjas">
						<li>Se recuerdan los datos que fueron ingresados en otros proyectos.</li>
						<br/>
						<li>Las lineas de investigacion son dinamicas, cambian dependiendo del PNF que se seleccione.</li>
						<br/>
						<li>Cuando el proyecto socio-integrador esté culminado, se abre la opcion para ingresar la nota asignada a cada integrante.</li>
						<br/>
						<li>Diseñado para evitar duplicados.</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	
	<div class="text-center pb-5 pt-4">
	<span style="color:rgb(204, 90, 14);" class="h6 font-weight-light"></span>
	</div>
	</div>
   <!--FIN DE SECCION 3-->
   
 </div>
<% include ./partials/footer %>
